# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Docker
.env
docker-compose.override.yml

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Logs
*.log

# Migraciones (Flask-Migrate)
migrations/versions/
